/* Body CSS */

body {
    background-color: rgb(218, 143, 83);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Main CSS */

main {
    flex-grow: 1;
}

.title {
    text-align: center;
}

header#homepage img {
    display: flex;
    width: 25%;
    min-width: 150px;
    padding-right: 2em;
    margin: auto;
}

div#sections {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    grid-gap: 20px 20px;
    flex-direction: row;   
}

section#number-one li {
    line-height: 2em;
}

section#number-one {
    margin: 2em 1em 11em 2em;
    flex-basis: 33%;
    background-color: rgb(105, 105, 105);
    padding: 1em 3em 3em 3em;
    border-radius: 20px;
}

section#number-two {
    margin: 2em 1em 11em 1em;
    flex-basis: 33%;
    background-color: rgb(105, 105, 105);
    padding: 1em 3em 3em 3em;
    border-radius: 20px;
}
section#number-three {
    margin: 2em 2em 11em 1em;
    flex-basis: 33%;
    background-color: rgb(105, 105, 105);
    padding: 1em 3em 3em 3em;
    border-radius: 20px;
}

/* Footer CSS */

footer {
    font-style: italic;
    color: rgb(248, 250, 252);
    background-color: rgb(0, 0, 0);
    border: 0.15em solid rgb(75, 74, 74);
    margin-top: 2em;
    width: 100%;
    text-align: center;
}

/* Navigation Menu */

.nav_menu { 
    padding-bottom: 3em;
    margin: auto;
    width: 75%;
}
.nav_menu ul { 
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.nav_menu ul li { 
    flex-basis: 25%;
}

.nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0;   /* padding above and below a elements */
    text-decoration: none;
    background-color: rgb(3, 3, 26);
    color: rgb(240, 234, 234);
    font-weight: bold;
    border-right: 2px solid rgb(216, 138, 73);
}
.nav_menu ul li a:hover { 
    background-color: rgb(243, 242, 242);
    color: rgb(5, 5, 5);
}

.nav_menu ul #current {
    background-color: rgb(128, 127, 127);
    color: var(--color-accent);
}

.nav_menu ul li a.lastitem {
    border-right: none;
}

/* Navigation Menu Media Query */

@media only screen and (max-width: 1063px) {

    .nav_menu ul { 
    flex-direction: column;
    }
    .nav_menu ul li a {
        border-right: none;
        border-bottom: 2px solid rgb(216, 138, 73);
    }
    .nav_menu ul li a.lastitem {
        border-bottom: none;
    }
}

/* Main Media Query */

@media only screen and (max-width: 850px) {
    div#sections {
        display: grid;
        grid-template: repeat(1, 2fr) / repeat(1, 2fr);
    }

    section#number-one {
        margin: 2em 1em 1em 1em;
    }

    section#number-two {
        margin: 2em 1em 1em 1em;
    }

    section#number-three {
        margin: 2em 1em 1em 1em;
    }

}
