body {
    background-color: rgb(218, 143, 83);
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    font-style: italic;
    color: rgb(248, 250, 252);
    background-color: rgb(0, 0, 0);
    margin-top: auto;
    border: 0.15em solid rgb(75, 74, 74);
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
/* Navigation Menu */

.nav_menu { 
    padding-bottom: 3em;
    margin: auto;
    width: 75%;
}
.nav_menu ul { 
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.nav_menu ul li { 
    flex-basis: 25%;
}

.nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0;   /* padding above and below a elements */
    text-decoration: none;
    background-color: rgb(3, 3, 26);
    color: rgb(240, 234, 234);
    font-weight: bold;
    border-right: 2px solid rgb(216, 138, 73);
}
.nav_menu ul li a:hover { 
    background-color: rgb(243, 242, 242);
    color: rgb(5, 5, 5)
}

.nav_menu ul #current {
    background-color: rgb(128, 127, 127);
    color: var(--color-accent);
}

.nav_menu ul li a.lastitem {
    border-right: none;
}

/* Navigation Menu Media Query */

@media only screen and (max-width: 1063px) {

    .nav_menu ul { 
    flex-direction: column;
    }
    .nav_menu ul li a {
        border-right: none;
        border-bottom: 2px solid rgb(216, 138, 73);
    }
    .nav_menu ul li a.lastitem {
        border-bottom: none;
    }
}