#body-two {
    background: linear-gradient(176deg, rgb(231, 235, 6) 50%, rgb(23, 23, 184) 50%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(151, 230, 33);
}
article {
    column-count: 3; 
    column-gap: 35px;
    column-rule: 2px dotted rgb(230, 226, 6);
}