body {
    background-color: rgb(216, 138, 73);
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    font-style: italic;
    line-height: 4em;
}

header#homepage img {
    display: flex;
    width: 15%;
    min-width: 150px;
    padding-right: 2em;
}

div#sections {
    display: flex;
    flex-direction: row;
}

section#number-one li {
    line-height: 2em;
}

section#number-one {
    margin-right: 1em;
    flex-basis: 50%;
}

section#number-two {
    margin-left: 1em;
    flex-basis: 50%;
}

/* Navigation Menu */

.nav_menu { 
    padding-bottom: 3em;
    margin: auto;
    width: 50%;
}
.nav_menu ul { 
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.nav_menu ul li { 
    flex-basis: 25%;
}

.nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0;   /* padding above and below a elements */
    text-decoration: none;
    background-color: rgb(3, 3, 26);
    color: rgb(240, 234, 234);
    font-weight: bold;
    border-right: 2px solid rgb(216, 138, 73);
}
.nav_menu ul li a:hover { 
    background-color: rgb(243, 242, 242);
    color: var(--color-accent);
}

.nav_menu ul #current {
    background-color: rgb(128, 127, 127);
    color: var(--color-accent);
}

.nav_menu ul li a.lastitem {
    border-right: none;
}

/* Navigation Menu Media Query */

@media only screen and (max-width: 1063px) {

    .nav_menu ul { 
    flex-direction: column;
    }
    .nav_menu ul li a {
        border-right: none;
        border-bottom: 2px solid rgb(216, 138, 73);
    }
    .nav_menu ul li a.lastitem {
        border-bottom: none;
    }
}

/* Sections Media Query */

@media only screen and (max-width: 1063px) {
    div#sections {
    flex-direction: column;
}

Section#number-two {
    margin-left: 0em;
}
}