body {
    background-color: rgb(218, 143, 83);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Main CSS */

main {
    flex-grow: 1;
}

header {
    text-align: center;
}

div#sections {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2 {
    text-align: center;
}

#section-one {
    background-color: rgb(105, 105, 105);
    width: 50%;
    padding: 1em 3em 3em 3em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 20px;
}

#section-one>img {
    display: flex;
    padding-right: 2em;
    float: left;
}

#section-two {
    background-color: rgb(105, 105, 105);
    width: 50%;
    padding: 1em 3em 3em 3em;
    border-radius: 20px;
}

/* Images CSS */

img {
    width: 300px;
    height: 300px;
}

#police {
    width: 40%;
    padding-right: 2em;
    padding-left: 3em;
}

#family {
    width: 40%;
    padding-left: 5em;
}

/* Footer CSS */

footer {
    font-style: italic;
    color: rgb(248, 250, 252);
    background-color: rgb(0, 0, 0);
    border: 0.15em solid rgb(75, 74, 74);
    margin-top: 2em;
    width: 100%;
    text-align: center;
}

/* Navigation Menu */

.nav_menu { 
    padding-bottom: 3em;
    margin: auto;
    width: 75%;
}
.nav_menu ul { 
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.nav_menu ul li { 
    flex-basis: 25%;
}

.nav_menu ul li a {
    text-align: center;
    display: block;
    padding: 1em 0;   /* padding above and below a elements */
    text-decoration: none;
    background-color: rgb(3, 3, 26);
    color: rgb(240, 234, 234);
    font-weight: bold;
    border-right: 2px solid rgb(216, 138, 73);
}
.nav_menu ul li a:hover { 
    background-color: rgb(243, 242, 242);
    color: rgb(5, 5, 5)
}

.nav_menu ul #current {
    background-color: rgb(128, 127, 127);
    color: var(--color-accent);
}

.nav_menu ul li a.lastitem {
    border-right: none;
}

/* Navigation Menu Media Query */

@media only screen and (max-width: 1063px) {

    .nav_menu ul { 
    flex-direction: column;
    }
    .nav_menu ul li a {
        border-right: none;
        border-bottom: 2px solid rgb(216, 138, 73);
    }
    .nav_menu ul li a.lastitem {
        border-bottom: none;
    }
}

/* Images Media Query */

@media only screen and (max-width: 1675px) {
    #police {
        padding: 0;
        width: 100%;
}

    #family {
        padding: 0;
        width: 100%;
    }
}

@media only screen and (max-width: 555px) {
    #founder {
        width: 250px;
    }
}